---
title: Andrei Jay
---

<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <link href="./css/style.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <header>
      <h1>Andrei Jay</h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

  </div>

</body>

</html>
