<header>
  <h1>Andrei Jay</h1>

  <ul class="navigation">
    <li>
      <a href="/" class="{{ 'active' if tag == "home"}}">Home</a>
    </li>
    <li>
      <a href="/contact" class="{{ 'active' if '/contact' in page.url}}">Contact</a>
    </li>

  </ul>

</header>